
@using Microsoft.AspNetCore.Identity

<form id="logoutForm" method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Landing", "Home", new { area = "" })">
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
