
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A Bug's Life</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <link runat="server" rel="shortcut icon" href="~/icons8-insect-48.png" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/icons8-insect-48.png" type="image/ico" />

</head>
<body class="hold-transition bg-black login-page">
    <div class="login-box bg-green">
        <!-- /.login-logo -->
        <div class="card card-outline bg-green">
            <div class="card-header text-center">
                <a class="h1 text-white">
                    <b>A Bug's Life</b>                
                    <img src="~/icons8-insect-48.png" alt="ABL Logo" class="animation__wobble" style="opacity: .8">
                </a>
            </div>
            <div class="card-body text-black">
                <h5 class="login-box-msg">Sign in to start your session</h5>
                @RenderBody()
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
