@model BugTracker.Models.Ticket

@{
    ViewData["Title"] = "Edit";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Edit a Ticket</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-area="" asp-controller="Home" asp-action="Dashboard">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Edit Ticket</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Created" />
        <input type="hidden" asp-for="OwnerUserId" />
        <input type="hidden" asp-for="DeveloperUserId" />
        <input type="hidden" asp-for="Archived" />
        <input type="hidden" asp-for="ArchiveDate" />
        <input type="hidden" asp-for="ProjectId" />


        <div class="row">
            <div class="col-lg-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Ticket Properties</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Title" class="form-control"></label>
                            <input asp-for="Title" class="form-control bg-light text-dark" id="inputName" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="form-control"></label>
                            <span asp-validation-for="Description" class="text-danger"></span>
                            <textarea asp-for="Description" id="inputDescription" class="form-control bg-light text-dark" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProjectId" class="control-label"></label>
                            <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                            <span asp-validation-for="ProjectId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TicketTypeId" class="control-label"></label>
                            <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"><option>Select a Type </option></select>
                            <span asp-validation-for="TicketTypeId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TicketPriorityId" class="control-label"></label>
                            <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"><option>Select a Priority </option></select>
                            <span asp-validation-for="TicketPriorityId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TicketStatusId" class="control-label"></label>
                            <select asp-for="TicketStatusId" class="form-control" asp-items="ViewBag.TicketStatusId"><option>Select a Status</option></select>
                            <span asp-validation-for="TicketStatusId" class="text-danger"></span>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a class="btn btn-primary" asp-action="AllTickets">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</section>
<!-- /.content -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
