@{
    Layout = null;
ViewData["Title"] = "BT-Landing Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition dark-mode bg-success">
    <!-- Automatic element centering -->
    <div class="container">
            <img src="~/icons8-insect-48.png" />
        <h1 class="align-content-center">A Bug's Life : Issue Tracking Application</h1>
        <!-- User name -->
            <div class="card bg-black">
                <div class="card-header">
                    <h3 class="text-white">"Track project progression through a comprehensive ticket system.</h3>
                </div>
                <div class="card-body">
                    <ul class="text-lg">Allow For:
                    <li class="text-lg">Organization of Project Components</li>
                    <li class="text-lg">Create tickets By Priority, Type, and Status</li>
                    <li class="text-lg">Manage User Roles</li>
                    <li class="text-lg">Add Attachment and Comments to Tickets</li>
                    <li class="text-lg"> And So Much More....</li>
                    </ul>
                </div>
                <div class="card-footer">
            <a class="btn btn-outline-success btn-lg" asp-area="Identity" asp-page="/Account/Login">Try it Out</a>
                </div>
            </div>
    </div>
    <!-- /.center -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
