@{
    Layout = "/Views/Shared/_LandingLayout.cshtml";
ViewData["Title"] = "BT-Landing Page";
}
    <section class="hero">
        <div class="container">
            <div class="hero-inner">
                <div class="hero-copy">
                    <h1 class="hero-title mt-0">A Bug's Life</h1>
                    <p class="hero-paragraph">This Issue Tracking Application will allow you to manage and complete projects with more insight than ever before.</p>
                    <div class="hero-cta" id="splash"><a style="background-color:forestgreen;" class="button" asp-area="Identity" asp-page="/Account/Login">Try it Out</a><a class="button" href="https://www.giannimorgan.com/">Get in touch</a></div>
                </div>
                <div class="hero-figure anime-element">
                    <svg class="placeholder" width="528" height="396" viewBox="0 0 528 396">
                        <rect width="528" height="396" style="fill:transparent;" />
                    </svg>
                    <div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
                    <div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
                    <div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>
                    <div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
                    <div class="hero-figure-box hero-figure-box-05"></div>
                    <div class="hero-figure-box hero-figure-box-06"></div>
                    <div class="hero-figure-box hero-figure-box-07"></div>
                    <div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
                    <div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
                    <div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="features section">
        <div class="container">
            <div class="features-inner section-inner has-bottom-divider">
                <div class="features-wrap">
                    <div class="feature text-center is-revealing">
                        <div class="feature-inner">
                            <div class="feature-icon">
                                <img src="~/icons8-insect-48.png" />
                            </div>
                            <h4 class="feature-title mt-24">Project/Ticket Management </h4>
                            <p class="text-sm mb-0">Track project progression through a comprehensive ticket system. Using a ticket cycle that starts from open to close and has different properties such as priority, type, and status.</p>
                        </div>
                    </div>
                    <div class="feature text-center is-revealing">
                        <div class="feature-inner">
                            <div class="feature-icon">
                                <img src="~/icons8-insect-48.png" />
                            </div>
                            <h4 class="feature-title mt-24">Role Based Security</h4>
                            <p class="text-sm mb-0">Assign users to roles that have different permissions based on those roles. Allows for what is visible to the user to be modified as well as their capabilities.</p>
                        </div>
                    </div>
                    <div class="feature text-center is-revealing">
                        <div class="feature-inner">
                            <div class="feature-icon">
                                <img src="~/icons8-insect-48.png" />
                            </div>
                            <h4 class="feature-title mt-24">Multi-Tenant</h4>
                            <p class="text-sm mb-0">Different companies with multiple users can exist and they will not be able to view or modify any of your projects or tickets.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>